[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
redis = "*"
dramatiq = {extras = ["rabbitmq", "watch"],version = "*"}
cryptography = "*"
hiredis = "*"
fakeredis = "*"
pytest = "*"
tox = "*"
supervisor = "*"
apscheduler = "*"
typing-inspect = "*"
beautifultable = "*"
casperlabs-client = "*"
python-logstash = "*"

[requires]
python_version = "3.7"
